# Databases and Local Storage
chroma_db/
*.sqlite3

# Python environment and caches
__pycache__/
*.pyc
.venv/
env/
.vscode/

# Environment variables containing secret API keys
.env
0_framework_pipeline
evaluation
raw_pipeline/day_1_practice.ipynb
raw_pipeline/test_new_query.py
week 1 end.txt
week 3 plan.txt
